<div class="card">
  <h1>New company assessment</h1>
  <p class="small-text">Start it yourself or invite someone else to take it.</p>

  <%= form_with url: assessments_path, method: :post, class: "form-grid" do %>
    <div class="input-group">
      <%= label_tag :company_name, "Company Name" %>
      <%= text_field_tag :company_name, @assessment.company_name, placeholder: "Northbridge Manufacturing" %>
    </div>
    <div class="card-footer">
      <%= button_tag "Start assessment", name: "start_now", value: "1", class: "button start" %>
      <%= submit_tag "Invite someone to take assessment", class: "button invite" %>
    </div>
  <% end %>
</div>
